<div id="threads-container-template" type="text/template
  <div id=" thread-create">
    <h1>Create thread</h1>
    <form id="create-thread-form">
      <label for="thread-name">Topic name</label><br>
      <input type="text" id="thread-name" class="form-control"/><br>
      <label for="thread-description">Description</label><br>
      <textarea class="form-control" id="thread-content" rows="4"></textarea>
      <br>
      <button type="submit" class="btn btn-primary" id="add-thread-btn">Add thread</button>
    </form>
  </div>
</div>
