<div id="threads-container-template" type="text/template">
  <div class="container">
    <div class="row home-container">
      <div class="col-md-12 home-content">
        <h1 id="main-title">Welcome to simple forum</h1>
        <hr>
        <h2> This forum was created as a exam project to JavaScript course.</h2>
        <hr>
        <h3> Following technologies and features were used:</h3>
        <ul>
          <li> JQuery </li>
          <li> Handlebars </li>
          <li> Navigo </li>
          <li> Bootstrap </li>
          <li> Toastr </li>
          <li> SystemJs </li>
        </ul>
        <h3> Forum has following functionality: </h3>
        <ul>
          <li> Register. (only if you are not logged) </li>
          <li> Login. (only if you are not logged) </li>
          <li> Logout. (only if you are logged) </li>
          <li> Create threads. (only if you are logged) </li>
          <li> Create messages. (only if you are logged) </li>
        </ul>
      </div>
    </div>
  </div>
</div>
