<div class="alert alert-success login-notify-message" role="alert">
  <h4 class="alert-heading">Please log-in to public in the forum.</h4>
  <p class="mb-0">Welcome to simple forum! Please read the description to get familiar with it.<p>
</div>
