<div id="threads-container-template" type="text/template">
  <div class="container">
    <div class="row home-container">
      <div class="col-md-12 home-content">
        <h1 id="main-title">Ooops, something went wrong.</h1>
        <h3 id="main-title">Page not found.</h3>
      </div>
    </div>
  </div>
</div>
