<div id="register-form-template" type="text/template">
  <div class="container">
    <div class="row register-container">
      <div class="col-md-12 register-content">
        <h1 id="main-title">Register</h1>
        <div id="register">
          <form id="register-form">
            <label for="input-username">Username</label>
            <br>
            <input type="text" name="username" id="input-username" class="form-control" />
            <br>
            <label for="input-password">Password</label>
            <br>
            <input type="password" name="password" id="input-password" class="form-control" />
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
